*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-size: 3rem;
    color: white;
    background-color: rgb(35, 34, 34);
    padding: 20px 12px;
    border-radius: 10px;
    margin: 15px;
}
.btn{
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 12px;
    border: 2px solid rgb(35, 34, 34);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.btn:hover{
    background-color: rgb(35, 34, 34);
    color: white;
}